
{% load i18n static %} 

{% block content %}
<h2>Password Reset</h2>
<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-6">
			<form method="post">{% csrf_token %}
			<fieldset class="module aligned" style="border:0px; margin:10px 10px;">
			    <div class="form-row field-email">
			        {{ form.email.errors }}
			        <label for="id_email">Email address: </label>
			        {{ form.email }}
			    </div>
			    <input type="submit" value="{% translate 'Reset my password' %}" style="color:dodgerblue;border:1px solid dodgerblue; padding: 12px 78px; margin-top: 12px; border-radius:4px;">
			</fieldset>
			</form>
		</div>
	</div>
</div>

<!-- {% endblock %}
 -->
<!-- <h3>Password Reset</h3>

<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one</p>

<form method="post">
	{% csrf_token %}
	{{ form }}
	<input type="submit" name="Send email">
</form>
