{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Profile | KGNbazaar</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript">
        {% if thank %}
            localStorage.clear();
            alert('Thankyou, your order {{order.order_id}} is placed successfully, you will get your order information in "Your Order" section of "Profile".')
            window.location = "{% url 'useraccount:profile' %}"
        {% endif %}
    </script>
    <style>
        .myHeart a{
            visibility: visible!important;
            color:black!important;
        }
        .myHeart a:hover{
            visibility: visible;
            color:red!important;
        }
    </style>
</head>

<body>
    <!--? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'img/logo/logo.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="{% static 'img/logo/logo.png' %}" alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="{% url 'Store:index' %}">Home</a></li>
                                    <li><a href="{% url 'Store:shop' %}">shop</a></li>
                                    
                                    <li class="hot"><a href="#">Latest</a>
                                        <ul class="submenu">
                                            <li><a href="{% url 'Store:shop' %}"> Product list</a></li>
                                            <li><a href="{% url 'Store:product_details' %}"> Product Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'Store:blog' %}">Blog</a></li>
                                    
                                    {% if user.is_authenticated %}
                                    <li><a href='{% url "useraccount:profile" %}'>Profile</a></li>
                                    {% endif %}
                                    <li>
                                        {% if user.is_authenticated %}
                                            <a href="{% url 'useraccount:logout' %}">Logout</a>
                                        {% else %}
                                            <a href="{% url 'useraccount:login' %}">Login</a>
                                        {% endif %}
                                    </li>
                                    <li><a href="{% url 'Store:about' %}">about</a></li>
                                    <li><a href="{% url 'Store:contact' %}">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Header Right -->
                        <div class="header-right">
                            <ul>
                                <li>
                                    <div class="nav-search search-switch">
                                        <span class="flaticon-search"></span>
                                    </div>
                                </li>
                                <li>
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'useraccount:logout' %}"><span class="flaticon-user"></span></a>
                                    {% else %}
                                    <a href="{% url 'useraccount:login' %}"><span class="flaticon-user"></span></a>
                                    {% endif %}
                                </li>
                                <li><a hre="#"><span class="flaticon-shopping-cart" id='cartcount'></span></a> </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <div class="container" style="position: relative;">
            <div class=row>
            <div class="col-lg-4 justify-content-center">
                <div class="order_box">
                    <h2>My Account</h2>
                    <ul class='list-group' style="background-color: transparent;border-bottom: 0px solid grey;">
                        <li class="list-group-item d-flex" style='background-color: transparent;border:none;color:#8972d4;'>
                            <span><a style="color:blue;cursor: pointer;" data-toggle="modal" data-target="#BillingDetailsModal">Billing Details</a></span>
                        </li>

                        <li class="list-group-item d-flex" style='background-color: transparent;border:none;color:#8972d4;'><a href="#" style="color:blue;cursor: pointer;" data-toggle="modal" data-target="#EditBillingDetailsModal">Edit Billing Details</a></li>

                        <li class="list-group-item d-flex" style="background-color: transparent;border:none;color:#8972d4;">
                            <span style="color:blue;cursor: pointer;" id="cartpopover" data-container="body" sanitize='false' data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-html="true">My Cart
                            </span>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="list-group-item d-flex" style='background-color: transparent;border:none;color:#8972d4;'><a href="{% url 'useraccount:UserOrders' user.pk %}" style="color:blue;">My Orders</a></li>
                        {% endif %}

                        <li class="list-group-item d-flex" style='background-color: transparent;border:none;color:#8972d4;'><a href="#" style="color:blue;">Track Order</a></li>

                        <li class="list-group-item d-flex" style='background-color: transparent;border:none;color:#8972d4;'><a href="{% url 'password_change' %}" style="color:blue;">Change Account Password</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="order_box">
                    {% if orders %}
                        <h2>Your Orders Information</h2>
                        <ul class='list-group' style="background-color: transparent;border-bottom: 0px solid grey;">
                            {% for order in orders %}
                        <li class="list-group-item d-flex" style='background-color: transparent;border:none;color:#8972d4;'>
                            <span><a style="color:blue;" href="{% url 'useraccount:userorderdetails' order.order_id %}">Order Id : {{ order.order_id }}</a></span>
                        </li>
                        {% endfor %}
                    </ul>
                                       
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4 justify-content-center">
                <div class="order_box">
                    {% if user.userprofile.phone_number != '' %}
                    <h2>Payment Methods</h2>
                    <div class="payment_item">
                        <form action="{% url 'useraccount:payment' %}" method="post">{% csrf_token %}
                            <input type="hidden" name="itemsJson" id='itemsJson'>
                            <input type="hidden" name="amount" id='amount'>
                          <div class="radion_btn">
                            <input type="radio" checked id="f-option5" name="payment_method" value="COD">
                            <label for="f-option5">COD</label>
                            <div class="check"></div>
                          </div>
                          <p>
                            Please take total payable cash at the time of recieving order.
                          </p>
                        </div>
                        <div class="payment_item active">
                          <div class="radion_btn">
                            <input type="radio" id="f-option6" name="payment_method" value="Paytm">
                            <label for="f-option6">Paytm </label>
                            <img src="img/product/single-product/card.jpg" alt="" />
                            <div class="check"></div>
                          </div>
                          <p>
                            Proceed to pay with paytm, card or BHIM UPI 
                          </p>
                        </div>
                        <div class="creat_account">
                          <input type="checkbox" id="f-option4" name="selector" />
                          <label for="f-option4">I’ve read and accept the </label>
                          <a href="#">terms & conditions*</a>
                        </div>
                        <button type="submit" class="btn btn-danger">Proceed</button>
                      </div>
                  </form>
                        {% else %}
                        <h3>You don't have any saved billing details please submit your billing details first.</h3>
                        {% endif %}
                </div>
            </div>
        </div>
        <div class="row px-4 py-4">
            <div class="col-lg-12 justify-content-center">
                <div class="order_box">
                    {% if user.userprofile.phone_number != '' %}
                    <h2>Saved billing details</h2>
                    <ul class='list-group' style="background-color: transparent;border-bottom: 0px solid grey;">
                        <li class="list-group-item d-flex" style='background-color: transparent;border:none;color:#8972d4;'>
                            <span>First Name : {{ user.first_name }}</span>
                        </li>
                        <li class="list-group-item d-flex" style='background-color: transparent;border:none;color:#8972d4;'>
                            <span>Last Name : {{ user.last_name }}</span>
                        </li>
                        <li class="list-group-item d-flex" style='background-color: transparent;border:none;color:#8972d4;'>
                            <span>Email Address : {{ user.email }}</span>
                        </li>
                        <li class="list-group-item d-flex" style='background-color: transparent;border:none;color:#8972d4;'>
                            <span>Comapany Name : {{ user.userprofile.company_name }}</span>
                        </li>
                        <li class="list-group-item d-flex" style='background-color: transparent;border:none;color:#8972d4;'>
                            <span>Phone Number : {{ user.userprofile.phone_number }}</span>
                        </li>
                        <li class="list-group-item" style='background-color: transparent;border:none;color:#8972d4;'>
                            <span style="width: auto;height: auto;">Address line 01 : {{ user.userprofile.address1 }}</span>
                        </li>
                        <li class="list-group-item d-flex" style='background-color: transparent;border:none;color:#8972d4;'>
                            <span>Address line 02 : {{ user.userprofile.address2 }}</span>
                        </li>
                        <li class="list-group-item d-flex" style='background-color: transparent;border:none;color:#8972d4;'>
                            <span>Town/City : {{ user.userprofile.town }}</span>
                        </li>
                        <li class="list-group-item d-flex" style='background-color: transparent;border:none;color:#8972d4;'>
                            <span>District : {{ user.userprofile.district }}</span>
                        </li>
                        <li class="list-group-item d-flex" style='background-color: transparent;border:none;color:#8972d4;'>
                            <span>State : {{ user.userprofile.state }}</span>
                        </li>
                        <li class="list-group-item d-flex" style='background-color: transparent;border:none;color:#8972d4;'>
                            <span>Country : {{ user.userprofile.country }}</span>
                        </li>
                        <li class="list-group-item d-flex" style='background-color: transparent;border:none;color:#8972d4;'>
                            <span>Zip/PostCode : {{ user.userprofile.postcode }}</span>
                        </li>
                    </ul>
                    {% else %}
                    <h3>You don't have any saved billing details please submit your billing details first.</h3>
                    {% endif %}
                </div>
            </div>
            
        </div>
        </div>
        <!-- Billing Details Modal -->
        <div class="modal fade" id="BillingDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="container">
                        <div class="row px-2 py-2">
                            <div class="col-lg-12">
                                <h6>All fields are required/mendetory, except the Company Name and Address line 02 field.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <form class="row contact_form" action="{% url 'useraccount:saveuserdetails' %}" method="post" novalidate="novalidate">{% csrf_token %}
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" id="company_name" name="company_name" placeholder="Company name(optional)">
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="tel" class="form-control" id="phone_number" name="phone_number" placeholder="Phone Number" required>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="address1" name="address1" placeholder="Address line 01" required>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="address2" name="address2" placeholder="Address line 02(optional)">
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" name="town" id="town" placeholder="Town/City" required>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" name="district" id="district" placeholder="District" required>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" name="state" id="state" placeholder="State" required>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" name="country" id="country" placeholder="Country" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="zip_code" name="zip_code" placeholder="Postcode/ZIP" required>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger">Save Details</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Billing Details Modal Ends here -->

        <!-- Edit billing details modal starts here -->

        <div class="modal fade" id="EditBillingDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Edit Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="container">
                        <div class="row px-2 py-2">
                            <div class="col-lg-12">
                                <h6>All fields are optional, edit the fields you want to update/change and leave the other fields blank.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <form class="row contact_form" action="{% url 'useraccount:edituserdetails' %}" method="post" novalidate="novalidate">{% csrf_token %}
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" id="Company_name" name="company_name" placeholder="Company name(optional)">
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="tel" class="form-control" id="Phone_number" name="phone_number" placeholder="Phone Number">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="Address1" name="address1" placeholder="Address line 01">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="Address2" name="address2" placeholder="Address line 02(optional)">
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" name="town" id="Town" placeholder="Town/City">
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" name="district" id="District" placeholder="District">
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" name="state" id="State" placeholder="State">
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" name="country" id="Country" placeholder="Country">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="Zip_code" name="zip_code" placeholder="Postcode/ZIP">
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger">Edit Details</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>

        <!-- Edit billing details modal ends here -->

    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="{% static 'img/logo/logo2_footer.png' %}" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>Asorem ipsum adipolor sdit amet, consectetur adipisicing elitcf sed do eiusmod tem.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#"> Offers & Discounts</a></li>
                                    <li><a href="#"> Get Coupon</a></li>
                                    <li><a href="#"> Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>New Products</h4>
                                <ul>
                                    <li><a href="#">Woman Cloth</a></li>
                                    <li><a href="#">Fashion Accessories</a></li>
                                    <li><a href="#"> Man Accessories</a></li>
                                    <li><a href="#"> Rubber made Toys</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Support</h4>
                                <ul>
                                    <li><a href="#">Frequently Asked Questions</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Report a Payment Issue</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer bottom -->
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-8 col-md-7">
                        <div class="footer-copy-right">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5">
                        <div class="footer-copy-right f-right">
                            <!-- social -->
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com/_prafull_patidar_/"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!--? Search model Begin -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/animated.headline.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <!-- Scrollup, nice-select, sticky -->
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <!-- contact js -->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <!-- Jquery Plugins, main Jquery -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
<script type="text/javascript">
if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {

    cart = JSON.parse(localStorage.getItem('cart'));
    // document.getElementById('cartcount').innerHTML = Object.keys(cart).length; updatecart method will set this cart
}

// for loop to show cart icon quantity
sum = 0;
for (var item in cart) {
    qty = cart[item][0];
    sum = sum + qty;
}
document.getElementById('cartcount').innerHTML = sum;


// var ErrorMessage = $('#error_message').val();
// console.log(ErrorMessage)
// if(ErrorMessage != undefined){
//     console.log('outer if')
    
//         localStorage.clear();
//         console.log('inner if');
//         alert('Your order has been successfully placed, you can tack your order by order id( you will get your order id in "Your Order" section, Thankyou!')
//         document.location = "{% url 'useraccount:profile' %}";
//     }

// Jquery to enable popover
$('[data-toggle=popover]').popover()
$('#cartpopover').popover()
$(function () {
  $('#cartpopover').popover({
    container: 'body'
  })
})

// for mycart popver for showin cart items
var mystr = '';
var i=1;
mystr = mystr +  '<h5>Items in your cart</h5><div class="container"><ul>';
for (item in cart){
    qty = cart[item][0];
    name = cart[item][1];
    mystr = mystr + "<li><b>" + i + "</b>";
    mystr = mystr + ` ${name.slice(0,30)}<span>.. Qty x${qty}</span></li>`;

      i=i+1;
}
mystr = mystr + "</ul></div>"

// for hiding popover when user click on anywhere on body
document.getElementById('cartpopover').setAttribute('data-content',mystr);
$('#cartpopover').popover('show');
$('body').on('click', function (e) {
    $('[data-toggle=popover]').each(function () {
        // hide any open popovers when the anywhere else in the body is clicked
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
});

// for orders/confirmation/bill
sum = 0;
tempsubtotal = 1;
subtotal = 0;
orderstr = '';
for(var item in cart){
    let qty=cart[item][0];
    let name=cart[item][1];
    let currency=cart[item][2];
    let amount=cart[item][3];

    orderstr = `<tr><th colspan="3%" id="ColspanId"><span id="Itemstr">${name}</span></th><th>x ${qty}</th><th><span>${currency} ${amount}</span></th></tr>`;
    $('#setOrderItems').append(orderstr);
    sum = sum + qty;
    if (currency == '$') {
        tempsubtotal = qty * amount * 73.72;
    }
    if (currency == '₹') {
        tempsubtotal = qty * amount;
    }
    if (currency == '€') {
        tempsubtotal = qty * amount * 86.67;
    }
    subtotal = subtotal + tempsubtotal;
}

var JsonItem = JSON.stringify(localStorage.getItem('cart'));
$('#itemsJson').val(JsonItem);

$('#amount').val(parseFloat(subtotal));


</script>

</html>