{% load static %}
<!doctype html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CheckOut | KGNbazaar</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="{% static 'img/logo/logo.png' %}" alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="{% url 'Store:index' %}">Home</a></li>
                                    <li><a href="{% url 'Store:shop' %}">shop</a></li>
                                    
                                    <li class="hot"><a href="#">Latest</a>
                                        <ul class="submenu">
                                            <li><a href="{% url 'Store:shop' %}"> Product list</a></li>
                                            <li><a href="{% url 'Store:product_details' %}"> Product Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'Store:blog' %}">Blog</a></li>
                                    
                                    {% if user.is_authenticated %}
                                    <li><a href='{% url "useraccount:profile" %}'>Profile</a></li>
                                    {% endif %}
                                    <li>
                                        {% if user.is_authenticated %}
                                            <a href="{% url 'useraccount:logout' %}">Logout</a>
                                        {% else %}
                                            <a href="{% url 'useraccount:login' %}">Login</a>
                                        {% endif %}
                                    </li>
                                    <li><a href="{% url 'Store:about' %}">about</a></li>
                                    <li><a href="{% url 'Store:contact' %}">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Header Right -->
                        <div class="header-right">
                            <ul>
                                <li>
                                    <div class="nav-search search-switch">
                                        <span class="flaticon-search"></span>
                                    </div>
                                </li>
                                <li>
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'useraccount:logout' %}"><span class="flaticon-user"></span></a>
                                    {% else %}
                                    <a href="{% url 'useraccount:login' %}"><span class="flaticon-user"></span></a>
                                    {% endif %}
                                </li>
                                <li>
                                    <a>
                                        <span class="flaticon-shopping-cart" id="popcart" data-container="body" data-toggle="popover" sanitize='false' data-html="true" data-placement="bottom" data-content="rutrum faucibus." style='max-width:100%'><span id="cartcount">0</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <!--================Checkout Area =================-->
    <section class="checkout_area section_padding">
        <div class="container justify-content-center">
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-12 justify-content-center">
                        <h3>Track Your Order</h3>
                        <form class="row contact_form" id="TackerForm" method="post">
                            {% csrf_token %}
                            <div class="col-md-6 form-group p_star">
                                <input type="number" class="form-control" id="order_id" name="order_id" placeholder="Order Id" required>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="creat_account">
                                    <button class="btn btn-danger" type="submit">Track Order</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="order_box">
                            <h2>Order Status</h2>
                            <ul id="items">
                                <li class="list-group-item d-flex justify-content-between align-items-center font-weight-bold" style='background-color: transparent;border:none;color:#8972d4;'>Status<span>Date</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row" id="citemsdiv">
                    <div class="col-lg-12">
                        <div class="order_box">
                            <h2>Order Details</h2>
                            <ul id="citems">
                                <li class="list-group-item d-flex justify-content-between align-items-center font-weight-bold" style='background-color: transparent;border:none;color:#8972d4;'>Prdoduct<span>Amount</span><span>Quantity</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!--================End Checkout Area =================-->
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="{% static 'img/logo/logo2_footer.png' %}" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>Asorem ipsum adipolor sdit amet, consectetur adipisicing elitcf sed do eiusmod tem.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#"> Offers & Discounts</a></li>
                                    <li><a href="#"> Get Coupon</a></li>
                                    <li><a href="#"> Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>New Products</h4>
                                <ul>
                                    <li><a href="#">Woman Cloth</a></li>
                                    <li><a href="#">Fashion Accessories</a></li>
                                    <li><a href="#"> Man Accessories</a></li>
                                    <li><a href="#"> Rubber made Toys</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Support</h4>
                                <ul>
                                    <li><a href="#">Frequently Asked Questions</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Report a Payment Issue</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer bottom -->
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-8 col-md-7">
                        <div class="footer-copy-right">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5">
                        <div class="footer-copy-right f-right">
                            <!-- social -->
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com/_prafull_patidar_/"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!--? Search model Begin -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!-- JS here -->
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/animated.headline.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <!-- Scrollup, nice-select, sticky -->
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <!-- contact js -->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <!-- Jquery Plugins, main Jquery -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
<script>
// submit form by jquerry
$('#TackerForm').submit(function(event) {
    $('#items').empty();
    var formdata = {
        'order_id': $('input[name=order_id]').val(),
        'email': $('input[name=email]').val(),
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
    };
    $.ajax({
        type: "POST",
        url: '{% url "Store:tracker" %}',
        data: formdata,
        encode: true
    }).done(function(data) {
            data = JSON.parse(data); 
                try{
            updates = data[0];
            if (updates.length > 0 & updates != '{}') {
                for (i = 0; i < updates.length; i++) {
                    let text = updates[i]['text'];
                    let time = updates[i]['time'];

                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center font-weight-bold" style='background-color: transparent;border:none;color:#8972d4;'>${text}<span>${time}</span></li>`
                    $('#items').append(mystr);
                }
            } else {
                mystr = `<li class="list-group-item d-flex justify-content-between align-items-center font-weight-bold" style='background-color: transparent;border:none;color:#8972d4;'>Sorry, We are not able to fetch details, please ensure correct spellings and email address,Thankyou!</li>`
                $('#items').append(mystr);
            }


            cart = JSON.parse(data[1]);


            for (item in cart) {
                let qty = cart[item][0];
                let name = cart[item][1];
                let currency = cart[item][2];
                let amount = cart[item][3];
                cartstr = `<li class="list-group-item d-flex justify-content-between align-items-center font-weight-bold" style='background-color: transparent;border:none;color:#8972d4;'>${name}<span style="text-align:left">${currency}${amount}</span><span>x${qty}</span></li>`
                console.log(cartstr)
                $('#citems').append(cartstr);
            }
        }
     

        catch{
            console.log(data)
           
                let order_delievered = data['order_delievered'];
                console.log(order_delievered);
                $('#items').append(order_delievered);
                document.getElementById('citemsdiv').innerHTML = '';
           
        }
        


    }); event.preventDefault();


});
</script>

</html>